/* ------------------------------------------------------------*/
/* ----------------------- contact.html ----------------------- */
/* -------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background: #085078;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #085078, rgb(23, 131, 119));
  background: linear-gradient(to bottom, #085078, rgb(23, 131, 119));
}

input {
  font-size: 14px;
}

textarea {
  min-width: 100%;
  max-width: 100%;
  font-size: 14px;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;

  padding: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 10px #000;
}

.wrapper h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
}

.wrapper .input_field {
  margin-bottom: 10px;
}

.wrapper .input_field input[type="text"],
.wrapper textarea {
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper .input_field input[type="email"],
.wrapper textarea {
  border: 1px solid #e0e0e0;
  width: 100%;
  padding: 10px;
}

.wrapper textarea {
  resize: none;
  height: 200px;
}

.wrapper .contact-btn input[type="submit"] {
  border: 5px solid #085078;
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  width: 100%;
  background: none;
  color: whitesmoke;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-radius: 25px;
  transition: 0.4s linear;
  cursor: pointer;
}

.wrapper .contact-btn input[type="submit"]:hover {
  /* button color on hover */
  background: #085078;
  /* font color on hover */
  color: whitesmoke;
}

#error_message {
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

h4 {
  color: whitesmoke;
}


/* ----------------------------------------------------------- */
/* -------------------- Nav Start --------------------- */
/* ----------------------------------------------------------- */

nav {
  height: 100px;
  background: #08517800;
}

.nav-links {
  /* Make's list items in a single row */
  display: flex;
  list-style: none;
  /* Ul 50% of the nav */
  width: 100%;
  /* Ul 100% of the nav height */
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nav-links #logo-li {
  /* margin: 3px auto 2px 10px; */
  margin: 20px auto 0px 20px;
  padding: 0px !important;
}

#logo:after {
  content: '';
  width: 3px;
  height: 3px;
  display: block;
  transition: 500ms;
  margin: 0 !important;
  padding: 0 !important;
}

#logo:hover:after {
  margin: 0 !important;
  font-size: .5em;
  text-align: center;
  content: 'Home';
  color: whitesmoke;
  width: 100%;
  transition: 500ms;
}

img {
  width: 90px;
  border-radius: 50%;
  margin-top: 35%;
}

.nav-li {
  margin-right: 80px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 3em;
}

.nav-links li a:hover {
  opacity: .7;
}

.container {
  /* 90 because of height:10vh; in the nav make 100 or full screen */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container h1 {
  margin: 10px;
  font-size: 50px;
  color: whitesmoke;
}

@media screen and (max-width: 768px) {

  /* Hamburger lines*/
  .line {
    width: 30px;
    height: 3px;
    background: white;
    margin: 5px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    position: absolute;
    /* Makes custom hamburger icon clickable */
    cursor: pointer;
    right: 5%;
    /* This perfectly centers the hamburger vertically */
    top: 50%;
    transform: translate(-5%, -50%);
    /* After the hamburger is clicked the mask covers the hamburger. This shows the hamburger on top of the mask after the hamburger is opened */
    z-index: 2;
  }

  /* At 768px there is no longer links at the navbar */
  .nav-links {
    /* position is fixed so the page only shows the nav covering the screen */
    position: fixed;
    background: #5b78c7;
    height: 100vh;
    width: 100%;
    /* Aligns li into a single column vertically */
    flex-direction: column;
    /* Mask animation */
    /* Width of circle mask 100px, at 90% right -10% up Vertically towards nav*/
    clip-path: circle(100px at 90% -23%);
    /* For support across browsers */
    -webkit-clip-path: circle(100px at 90% -23%);
    /* Animates the circle mask */
    transition: all 1s ease-out;
    /* Prevents issues with clicking the nav links when hamburger is opened. Doesnt show pointer then below does*/
    pointer-events: none;
  }

  /* When you click the hamburger it opens */
  .nav-links.open {
    /* Width of circle mask fills the screen from 100px to 1000px, at 90% right -10% up Vertically towards nav*/
    clip-path: circle(1000px at 90% -23%);
    /* For support across browsers */
    -webkit-clip-path: circle(1000px at 90% -23%);
    /* Prevents issues with clicking the nav links when hamburger is opened. Show's pointer*/
    pointer-events: all;
  }

  .container {
    flex-direction: column;
  }

  /* Fades in the nav links when the hamburger is clicked by slowly adding opacity from 0 to 1.*/
  .nav-links li {
    opacity: 0;
  }

  .nav-links li a {
    font-size: 25px;
  }

  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }

  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }

  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }

  /* Used in JS file */
  li.fade {
    opacity: 1;
  }

}

/* ----------------------------------------------------------- */
/* -------------------- Nav  End --------------------- */
/* ----------------------------------------------------------- */


footer {
  position: absolute;
  bottom: 0;
  color: rgb(57, 57, 57);
  width: 100%;
  text-align: center;
  padding: 20px;
}